@use '@carbon/styles/scss/breakpoint' as *;

/// Remove overrides once Carbon bugs are fixed upstream.
/// Need grid option to not add page gutters at large viewports, to also use when nesting grids
/// @link https://github.com/carbon-design-system/carbon/issues/2792
@media (min-width: 42rem) {
  .cds--grid--no-gutter {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/// Padding was introduced in 10.3.0, needs an option to let grid set the viewport gutter
/// @link https://github.com/carbon-design-system/carbon/issues/3010
.cds--content {
  min-height: calc(100vh - 48px);
  background: var(--cds-background);
}

.cds--content .cds--css-grid {
  max-width: 100%;
  @include breakpoint(md) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.bx--content > .bx--grid > .bx--row {
  padding-bottom: 16px;
}

.bx--fieldset > .bx--form__requirement {
  margin-top: 0.25rem;
}

.bx--fieldset[data-invalid='true'] > .bx--form__requirement {
  color: var(--cds-text-error, #da1e28);
}

.bx--col > .bx--data-table-container .bx--data-table-header__title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.bx--btn-set .bx--inline-loading {
  min-width: 12.25rem;
  max-width: max-content;
  padding-inline: 15px;
}
